<!DOCTYPE html>

<html>
    <head>
        <title>build-a-blog</title>
    </head>
        <body>
            <h1>blog!</h1>

            <form method="post">
                    <div>Entry Title</div>
                    <input type="text" name="title" value="{{title}}">
                </label>

                <label>
                    <div>Blog Post</div>
                    <textarea name="blog_post">{{blog_post}}</textarea>
                </label>

                <div class="error">{{error}}</div>

                <input type="submit">
            </form>

        </body>
</html>